---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Sobre mí"
	pubDate={new Date('2026-03-29')}
>
	<p>
		Bienvenido a mi blog. Aquí publico guías y documentación sobre NixOS, Linux y
		cosas que voy aprendiendo.
	</p>
</Layout>
